{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="/media/{{ product.image }}">
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ product.name }}</h3>
					<h3 class="red">{{ product.category.name }}</h3>
					<p class="price"> {{ product.price|floatformat:0 }} <span>руб</span></p>
					<a href="{% url 'adminapp:products' product.category.pk %}" class="red-button">
						Вернуться в товары<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{ product.short_desc }}</p>

					</div>
				</div>
			</div>

		</div>
{% endblock %}